.code-card {
  position: relative;
  overflow: hidden;
  padding: 1em 0;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 6px;
  font-family: DM Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

  .code-card-tool {
    position: absolute;
    top: 0;
    right: 0.2em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;

    .code-lang {
      margin-right: 5px;
    }
  }

  .code-wrap {
    display: flex;
    align-items: stretch;
    .code-line-box {
      flex: 0 0 auto;
      text-align: center;
      border-right-width: 1px;
      border-right-style: solid;
      .code-line {
        padding: 0 1em;
      }
    }

    .code-content {
      flex: 1 1 auto;
      margin: 0 1em;
      overflow: auto;
      word-break: break-word;

      .code-body {
        position: relative;
      }

      .code-input {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border: 0;
        outline: none;
        resize: none;
        font-size: 14px;
        line-height: 1.5;
        background-color: transparent;
        color: transparent;
        font-family: DM Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
        overflow: hidden;
        white-space: nowrap;
        caret-color: rgb(156, 163, 175);
        cursor: text;
      }
    }
  }
  
  pre {
    white-space: pre;
    code {
      font-family: DM Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }
  }

  pre, code {
    margin: 0;
  }

  .hljs {
    color: #e1e4e8;
    background-color: #24292e;
  }
}
.code-card + .code-card {
  margin-top: 1em;
}